* {
    padding: 0%;
    margin: 0%;
    font-family: Gotham, sans-serif;
    
}

.banner {
  background-color: #0020BF;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 50px 50px;
  text-decoration: none;
  font-size:1.7rem;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0020BF;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0020BF;
  color: white;
}

.sidebar a:focus { 
  background-color: #bf0020;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

.send-knap{
  color: #0020BF;
  background: transparent;
  border: solid #0020BF;
  border-width: 2px;
  width: 150px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  transition-property: background;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.boks{
  padding:30px 30px 90px 60px;
}

.container{
  margin-top: 80px ;
}


.circle{
    background-color: #0020BF;
    width:70px;
    height:70px;
    border-radius: 70%;

}
.circle2{
  background-color: #FF5B4C;
  width:70px;
  height:70px;
  border-radius: 70%;
}

.circle3{
    background-color: #E3CF62;
    width:70px;
    height:70px;
    border-radius: 70%;
}
.circle4{
    background-color: #5CBFCC;
    width:70px;
    height:70px;
    border-radius: 70%;
}

.circle5{
    background-color: #666565;
    width:70px;
    height:70px;
    border-radius: 70%;
}

.pre  {
  margin-left: 220px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



